* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    color: white;
    background-color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 10px 40px;
    color: white
}


footer {
    color: greenyellow;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 40px;
}


#a {
    background-color: cyan;
    color: black;
    border-width: 2px;
    border-style: solid;
}
#b {
    color: green;
    border-width: 2px;
    border-style: solid;
}
#c {
    background-color: lightyellow;
    color: black;
    border-width: 2px;
    border-style: solid;
}
#d {
    background-color: pink;
    color: black;
    border-width: 2px;
    border-style: solid;
}

.tab { margin-left: 40px; }

.tab2 { margin-left: 80px; }

.tab3 { margin-left: 120px;}

#table-of-contents {
    background-color: white;
    color: black;
}